// Cards
.card {
  box-shadow: $z-depth-1;
  border: 0;
  font-weight: 400;
  &[class*="border"] {
  border: 1px solid $grey-base;
  box-shadow: none;
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width as per your design */
  margin: 10px; /* Adjust the margin as per your design */
  }



  .card-body {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
    }
    .card-title {
      a {
        transition: $md-card-link-transition;
        &:hover {
          transition: $md-card-link-transition;
        }
      }
    }
    .card-text {
      color: $md-card-text-color;
      font-size: $md-card-font-size;
      font-weight: 400;
    }
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .md-form {
    label {
      font-weight: 300;
    }
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width as per your design */
  margin: 10px; /* Adjust the margin as per your design */
}
